* {
    box-sizing: border-box;
}

:root {
    --navbar-color: rgb(253, 230, 138);
    --header-color: rgb(69, 26, 3);
    --hero-color: rgb(245, 158, 11);
    --card-color: rgb(217, 119, 6);
    --font-color: rgb(253, 230, 138);
    --dialog-color: rgb(180, 83, 9);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: var(--hero-color);
}

.container {
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
}

img {
    height: 35px;
    width: 35px;
    display: inline-block;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .6);
    background-color: var(--navbar-color);
    color: var(--header-color);
}

.nav-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-icon > img {
    cursor: pointer;
}

.hero {
    padding: 1.5rem;
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 1rem;
    justify-content: center;
}

.adding-book {
    padding: 5rem .5rem;
    border-radius: 10px;
    width: clamp(200px, 50%, 18rem);
    background-color: var(--card-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: var(--font-color);
}

.adding-book > img {
    width: 65px;
    height: 65px;
    display: inline-block;
}

dialog {
    background-color: var(--dialog-color);
    color: var(--font-color);
    border-radius: 10px;
    width: 30%;
}

::backdrop {
    background-color: rgba(0, 0, 0, .4);
}

#cancel {
    cursor: pointer;
    float: right;
    height: 1.5rem;
}

#cancel > img {
    width: 1.5rem;
    height: 1.5rem;
}

form > h2 {
    text-align: center;
}

form div {
    margin-bottom: 2rem;
}

div > label {
    display: block;
    margin-bottom: .7rem;
    font-size: .9rem;
    font-weight: 700;
}

input[type= "text"] {
    width: 100%;
    padding: .4rem .5rem;
    outline: none;
    border: 2px solid var(--navbar-color);
    border-radius: 8px;
    color: var(--dialog-color);
    font-weight: 600;
    font-size: 1.1rem;
}

input[type= "text"]:focus {
    border: 2px solid var(--header-color);
}

input[type= "text"]::placeholder {
    font-weight: 400;
}

input[type= "checkbox"] {
    width: 20px;
    height: 20px;
    padding: 0;
    border: 2px solid var(--hero-color);
    appearance: none;
    background-color: transparent;
    outline: none;
    transition: outline 0.1s;
    display: grid;
    place-content: center;
}

input[type= "checkbox"]:checked {
    background-size: cover;
    padding: 2px;
}

input[type= "checkbox"]:not(:disabled):checked {
    border-color: var(--navbar-color);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 32 32" xml:space="preserve"><path style="fill: %23fde68a" d="M11.941,28.877l-11.941-11.942l5.695-5.696l6.246,6.246l14.364-14.364L32,8.818"/></svg>');
}

.read {
    margin-bottom: 1rem;
}

.read label {
    display: inline-flex;
    align-items: center;
    gap: .75rem;
}

button#append-book {
    padding: .5rem 1.5rem;
    color: var(--font-color);
    font-weight: 600;
    background-color: var(--card-color);
    border: 2px solid var(--navbar-color);
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

button#append-book:hover {
    background-color: var(--header-color);
    color: var(--hero-color);
}

.book {
    border-radius: 10px;
    width: clamp(200px, 50%, 18rem);
    background-color: var(--card-color);
    color: var(--font-color);
    font-size: .9rem;
    padding: 2rem .5rem;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

button#read-status,
button#remove {
    padding: .5rem 1rem;
    color: var(--font-color);
    font-weight: 600;
    background-color: var(--card-color);
    border: 2px solid var(--navbar-color);
    border-radius: 5px;
    cursor: pointer;
}